body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
}

/* Styling for index.html fixed header section */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: black;
  display: inline-flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 10px;
}

header li {
  display: inline-flex;
  padding: 0px 10px;
}

a {
  color: seashell;
}

/* Mission Section */

#mission {
  position: relative;
  top: 70px;
  left: 50px;
  height:700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.ourmission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 1200px;
}

h2, h4 {
  margin: 10px;
}

#featured {
  position: relative;
  top: 140px;
  left: 150px;
  height:700px;
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.teaofthemonth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 1050px;
}

.stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1050px;
}

.star {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 10px 25px;
  align-items: center;
}
